@model cv2job.Models.Utilizador

@{
    ViewBag.Title = "Details"; 
}

<h2>Details</h2>

<fieldset>
    <legend>Utilizador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    
</fieldset>

