@model cv2job.Models.Utilizador

@{
    ViewBag.Title = "Details"; 
}
<!--
<h2>Details</h2>

<fieldset>
    <legend>Utilizador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    
</fieldset>

-->

<div class="matter">
    <div class="container-fluid">

        <!--------------------------------------------------------------------------------------------- COMECA AQUI---------------------------------------------------------->



        <!--     <div class="page">  
        </div>-->

        <div class="grid">
            <div class="row ">
                <div class="span12" itemscope="" itemtype="http://schema.org/Person">


                    <div class="pull-left">
                        <div class="span8" id="intro" style="margin-left: 0px;">
                            <br>
                            <h1>
                                <span itemprop="name">John Doe</span><br>
                                <small itemprop="role">PRESIDENT OF THE UNIVERSE</small>
                            </h1>
                            <p itemprop="address" itemscope="" itemtype="http://schema.org/Address">
                                <span itemprop="street-address">3678 Street name city , XX 010101 somewhere on</span> <span itemprop="location">planet earth</span>
                            </p>
                            <i class="icon-arrow-right-3 fg-color-blueLight" id="arrow1"></i>
                            <ul class="unstyled">
                                <li>
                                    <i class="icon-link"></i><a href="http://html5-ninja.com" target="_blank" itemprop="url">html5-ninja.com</a>
                                </li>
                                <li>
                                    <i class="icon-envelope-alt"></i><a href="mailto:zied.hosni.mail@gmail.com">zied.hosni.mail@gmail.com</a>
                                </li>
                                <li>
                                    <i class="icon-mobile-phone"></i>&nbsp;&nbsp;066 666 999
                                </li>


                            </ul>
                            
                        </div>

                    </div>
                    <div class="pull-right">
                        <div class="span4">
                            <img src="~/Images/me.jpg" alt="me" itemprop="photo">
                            <button type="button" class="command-button bg-color-blueDark fg-color-white"
                                id="download" onclick="javascript:pdf_url = location.href;
                                location.href = 'http://pdfmyurl.com?url=' + escape(pdf_url) + '&amp;-O=Portrait&amp;--print-media-type'">
                                <i class="icon-download place-right"></i>
                                Download
                            </button>

                        </div>



                    </div>
                    <div class="pull-left">
                        <div class="span8" style="margin-left: 0px;">
                            
                            <h2>About me</h2>
                        <div class="hero-unit">
                            <p>
                                Bacon ipsum dolor sit amet tongue 
                                pork loin turducken turkey tail. 
                                Short loin fatback jerky bacon 
                                drumstick leberkas kielbasa t-bone 
                                ball tip. Chicken ribeye capicola 
                                ham hock pork. 
                                Rump pancetta salami cow hamburger 
                                t-bone turducken ball tip pork loin 
                                short loin. Filet mignon tail strip 
                                steak beef. 
                           
                            </p>

                        </div>


            <div class="row">
    <div class="span3TAG">
                <h2>Work experience</h2>
                <div class="row">
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-orange">
                                <div class="avatar">
                                    <img src="~/Images/google.jpg" alt="google"></div>
                                <div class="reply">
                                    <div class="date">2006</div>
                                    <div class="author">Google</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                    <a href="" style="padding-left: 95%;"><i class="icon-remove"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-orange">
                                <div class="avatar">
                                    <img src="~/Images/little-ninja.png" alt="HTML5 Ninja"></div>
                                <div class="reply">
                                    <div class="date">2012</div>
                                    <div class="author">HTML5 Ninja</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-orange">
                                <div class="avatar">
                                    <img src="WvoNk0zSDbAK4y7w.html" alt=""></div>
                                <div class="reply">
                                    <div class="date">2006</div>
                                    <div class="author">Bacon ipsum dolor</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-orange">
                                <div class="avatar">
                                    <img src="WvoNk0zSDbAK4y7w.html" alt=""></div>
                                <div class="reply">
                                    <div class="date">2006</div>
                                    <div class="author">Bacon ipsum dolor</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-orange">
                                <div class="avatar"></div>
                                <div class="reply">
                                    <div class="text "><a href="/Home">
                                        <h2><i class="icon-plus"></i>Adicionar asdasd</h2>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span3TAG">
                <h2>Education</h2>
                <div class="row">
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-greenLight">
                                <div class="avatar">
                                    <img src="WvoNk0zSDbAK4y7w.html"></div>
                                <div class="reply">
                                    <div class="date">2006</div>
                                    <div class="author">Mortal Kombat University</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-greenLight">
                                <div class="avatar">
                                    <img src="WvoNk0zSDbAK4y7w.html"></div>
                                <div class="reply">
                                    <div class="date">2012</div>
                                    <div class="author">Best High School in the world</div>
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-greenLight">
                                <div class="avatar">
                                    <img src="WvoNk0zSDbAK4y7w.html" alt=""></div>
                                <div class="reply">
                                    <div class="text">Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3TAG">
                        <div class="replies">
                            <div class="bg-color-greenLight">
                                <div class="avatar"></div>
                                <div class="reply">
                                    <div class="text "><a href="/Home">
                                        <h2><i class="icon-plus"></i>Adicionar asdasd</h2>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>






                        </div>

                    </div>
                    <div class="pull-left">
                        <div class="span4">
                            <div id="skills">
                                <h2>Skills</h2>
                                <div class="row">
                                    <div class="span2SKILL">
                                        <h3>PHP</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 75%"></div>
                                        </div>
                                    </div>
                                    <div class="span2SKILL">
                                        <h3>MySQL</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 75%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span2SKILL">
                                        <h3>Power</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <div class="span2SKILL">
                                        <h3>UFO'sSecret</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 75%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span2SKILL">
                                        <h3>BigBang</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 50%"></div>
                                        </div>
                                    </div>
                                    <div class="span2SKILL">
                                        <h3>Dictator</h3>
                                        <div class="static-rating small">
                                            <div class="rating-value" style="width: 35%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>

                   



                </div>
            </div>
        </div>

       
        <div class="row clear">
            <div class="span5">
                <h2>More details</h2>
                <p>Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail. Short loin fatback jerky bacon drumstick leberkas kielbasa t-bone ball tip. Chicken ribeye capicola ham hock pork. Rump pancetta salami cow hamburger t-bone turducken ball tip pork loin short loin. Filet mignon tail strip steak beef.</p>
            </div>
            <div class="span4">
                <h2>Others</h2>
                <p>Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail. Short loin fatback jerky bacon drumstick leberkas kielbasa t-bone ball tip. Chicken ribeye capicola ham hock pork. Rump pancetta salami cow hamburger t-bone turducken ball tip pork loin short loin. Filet mignon tail strip steak beef.</p>
            </div>
        </div>

        <footer>
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="element">John Doe - <i class="icon-mail-2"></i>zied.hosni.mail@gmail.com
                    </span>
                    <i class="icon-arrow-left-3 place-right fg-color-white" style="font-size: 44px"></i>
                </div>
            </div>
        </footer>


        <!--------------------------------------------------------------------------------------------- ACABA AQUI---------------------------------------------------------->


    </div>

    <!-- Matter ends -->

</div>
