@model IEnumerable<cv2job.Models.Utilizador>

@{
	ViewBag.Title = "Index";
}
<div class="page-head">
		<!-- Page heading -->
		  <h2 class="pull-left">Index 
		  <!-- page meta -->
		  <span class="page-meta"></span>
		</h2>


		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
		  <a href="index.html"><i class="icon-home"></i> Home</a> 
		  <!-- Divider -->
		  <span class="divider">/</span> 
		  <a href="#" class="bread-current">Dashboard</a>
		</div>

		<div class="clearfix"></div>

		</div>



<div class="matter">
	<div class="container-fluid">
		
	

<table>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.UserName)
		</th>
		
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.UserName)
		</td>
		<td>
			
            <a href="/Utilizadores/Perfil/@item.UserId">Perfil</a>
		</td>
	</tr>
}

</table>

	</div>
</div>
