@model cv2job.Models.Mensagem


<div class="page-head" style="padding-top: 3%;">
    <!-- Page heading -->
    <h2 class="pull-left">Roberto da Costa 
		  <!-- page meta -->
        <span class="page-meta"></span>
    </h2>


    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="/"><i class="icon-home"></i>Home</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="/Mensagens" class="bread-current">Mensagens</a>
        <span class="divider">/</span>
        <a href="/Create" class="bread-current">Roberto da Costa</a>
    </div>

    <div class="clearfix"></div>

</div>



<div class="matter">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="span12">


                <div class="widget wred">
                    <!-- Widget title -->
                    <div class="widget-foot" style="padding: 0px">
                    </div>

                    <div class="widget-content">
                        <!-- Widget content -->
                        <div class="padd">

                            <ul class="chats">
                                                                <!-- Chat by us. Use the class "by-me". -->
                                <li class="by-me">
                                    <!-- Use the class "pull-left" in avatar -->
                                    <div class="avatar pull-left" style="width:5%">
                                        <img src="/Imagens/Users/default.jpg" alt="">
                                    </div>

                                    <div class="chat-content" style="margin-left:8%">
                                        <!-- In meta area, first include "name" and then "time" -->
                                        <div class="chat-meta">Rodolfo Pereira <span class="pull-right">20:30</span></div>
                                        Boas!
                          <div class="clearfix"></div>
                                    </div>
                                </li>

                                <!-- Chat by other. Use the class "by-other". -->
                                <li class="by-other">
                                    <!-- Use the class "pull-right" in avatar -->
                                    <div class="avatar pull-right" style="width:5%; margin-right: 1.2%;">
                                        <img src="/Imagens/Users/Users4.jpg"" alt="">
                                    </div>

                                    <div class="chat-content" style="margin-right:8%" >
                                        <!-- In the chat meta, first include "time" then "name" -->
                                        <div class="chat-meta">20:35 <span class="pull-right">Roberto da Costa</span></div>
                                        Boas!
                          <div class="clearfix"></div>
                                    </div>
                                </li>
                                      <li class="by-me">
                                    <!-- Use the class "pull-left" in avatar -->
                                    <div class="avatar pull-left" style="width:5%">
                                        <img src="/Imagens/Users/default.jpg" alt="">
                                    </div>

                                    <div class="chat-content" style="margin-left:8%">
                                        <!-- In meta area, first include "name" and then "time" -->
                                        <div class="chat-meta">Rodolfo Pereira <span class="pull-right">20:38</span></div>
                                        O cv2job é o futuro
                          <div class="clearfix"></div>
                                    </div>
                                </li>

                                <!-- Chat by other. Use the class "by-other". -->
                                <li class="by-other">
                                    <!-- Use the class "pull-right" in avatar -->
                                    <div class="avatar pull-right" style="width:5%; margin-right: 1.2%;">
                                        <img src="/Imagens/Users/Users4.jpg"" alt="">
                                    </div>

                                    <div class="chat-content" style="margin-right:8%" >
                                        <!-- In the chat meta, first include "time" then "name" -->
                                        <div class="chat-meta">20:40 <span class="pull-right">Roberto da Costa</span></div>
                                        É verdade. A sua interface é não me é estranha e a funcionalidade de gerar o meu Europass é muito interessante.
                          <div class="clearfix"></div>
                                    </div>
                                </li>
      <li class="by-me">
                                    <!-- Use the class "pull-left" in avatar -->
                                    <div class="avatar pull-left" style="width:5%">
                                        <img src="/Imagens/Users/default.jpg" alt="">
                                    </div>

                                    <div class="chat-content" style="margin-left:8%">
                                        <!-- In meta area, first include "name" and then "time" -->
                                        <div class="chat-meta">Rodolfo Pereira <span class="pull-right">20:43</span></div>
                                       Eu gosto do facto de poder gerir a minha corporação de trabalho.
                          <div class="clearfix"></div>
                                    </div>
                                </li>


                            

                            </ul>

                        </div>
                    </div>


                    <!-- Widget footer -->
                    <div class="widget-foot">

                        <!-- Chat input box -->
                        <form class="form-inline">
                            <div class="input-append row-fluid">
                                <input type="text" class="span9" placeholder="Escreva uma mensagem">
                                <button type="submit" class="btn btn-info">Enviar</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

