<!DOCTYPE html>

<html>

	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>


	<!-- Stylesheets -->
  <link href="~/Content/style_NS/bootstrap.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <!-- jQuery UI -->
  <link rel="stylesheet" href="~/Content/style_NS/jquery-ui.css"> 
  <!-- Calendar -->
  <link rel="stylesheet" href="~/Content/style_NS/fullcalendar.css">
  <!-- prettyPhoto -->
  <link rel="stylesheet" href="~/Content/style_NS/prettyPhoto.css">   
  <!-- Star rating -->
  <link rel="stylesheet" href="~/Content/style_NS/rateit.css">
  <!-- Date picker -->
  <link rel="stylesheet" href="~/Content/style_NS/bootstrap-datetimepicker.min.css">
  <!-- jQuery Gritter -->
  <link rel="stylesheet" href="~/Content/style_NS/jquery.gritter.css">
  <!-- CLEditor -->
  <link rel="stylesheet" href="~/Content/style_NS/jquery.cleditor.css"> 
  <!-- Bootstrap toggle -->
  <link rel="stylesheet" href="~/Content/style_NS/bootstrap-toggle-buttons.css">
  <!-- Main stylesheet -->
  <link href="~/Content/style_NS/style.css" rel="stylesheet">
  <!-- Widgets stylesheet -->
  <link href="~/Content/style_NS/widgets.css" rel="stylesheet">   
  <!-- Responsive style (from Bootstrap) -->
  <link href="~/Content/style_NS/bootstrap-responsive.css" rel="stylesheet">
  <link href="~/Content/style_NS/ddlevelsmenu-base.css" rel="stylesheet">
  <link href="~/Content/style_NS/ddlevelsmenu-topbar.css" rel="stylesheet">
  <link href="~/Content/style_NS/ddlevelsmenu-slider.css" rel="stylesheet">
	
</head>

<body>
	<div class="slidepanel">

	</div>
	<header>
	<div class="container">
	  <div class="row">

		<div class="span3">

		  <!-- Logo starts -->

		  <div class="logo">
			  <!-- Image link -->
				<img src="~/Images/logo.png" />
			
			<!--div class="clearfix"></!--div-->

		  </div>

		  <!-- Logo ends -->

		</div>

		<div class="span9">

		  <!-- Navbar starts -->

		  <div class="navi pull-right">
			<div id="ddtopmenubar" class="mattblackmenu">
			  <!-- Main navigation -->
			  <!-- Use the background color class in anchor tag for colorful menu -->
			  <ul>

				<li><a href="index.html" class="blightblue"> <i class="icon-home"></i> Home</a></li>

				<!-- Main navigation -->
				<li><a href="#" rel="ddsubmenu2" class="bred"> <i class="icon-desktop"></i> Pages<img src="~/Images/arrow-down.png" style="width: 11px; height: 7px;" class="downarrowpointer"></a>
					<!-- Sub Navigation -->
					
				</li>

				<!-- Main navigation -->
				<li><a href="#" rel="ddsubmenu2" class="bviolet"> <i class="icon-tablet"></i> Pages<img src="~/Images/arrow-down.png" style="width: 11px; height: 7px;" class="downarrowpointer"></a>
					<!-- Sub Navigation -->
					
				</li>                

				<li><a href="#" rel="ddsubmenu2" class="bgreen"> <i class="icon-comments"></i> Blog<img src="~/Images/arrow-down.png" style="width: 11px; height: 7px;" class="downarrowpointer"></a>
				  <!-- Sub navigation -->
				  
				</li>

				<li><a href="portfolio.html" class="borange"> <i class="icon-camera"></i> Portfolio</a></li>

				<li><a href="contactus.html" class="bblue"> <i class="icon-envelope-alt"></i> Contact</a></li>


			  </ul>
			</div>
		  </div>

		  <div class="navis"><select><option selected="selected" value="">Menu</option><option value="index.html">  Home</option><option value="#">  Pages</option><option value="landingpage.html">Landing Page</option><option value="comingsoon.html">Coming Soon</option><option value="features2.html">Features</option><option value="service1.html">Service</option><option value="team.html">Our Team</option><option value="aboutus.html">About Us</option><option value="resume.html">Resume</option><option value="tasks.html">Tasks</option><option value="#">Sub Navigation</option><option value="#">Nav Level #3</option><option value="#">  Pages</option><option value="404.html">404</option><option value="testimonials.html">Testimonials</option><option value="clients.html">Clients</option><option value="pricingtable.html">Pricing Table</option><option value="projects.html">Projects</option><option value="register.html">Register</option><option value="login.html">Login</option><option value="events.html">Events</option><option value="#">  Blog</option><option value="blog2.html">Blog #1</option><option value="blog1.html">Blog #2</option><option value="blogsingle.html">Blog Single</option><option value="portfolio.html">  Portfolio</option><option value="contactus.html">  Contact</option></select></div>

		  <!-- Navbar ends -->

		  <div class="clearfix"></div>

		</div>

	  </div>
	</div>
  </header>
	<div class="container">
	@RenderBody()
		
	</div>
	</body>
</html>

